<ion-view view-title="">
    <ion-content>
        <div class="header">
            <img src="images/top-header.png" />
        </div>
        <div class="result-content" ng-show="isfirst">
            <h1>Test result: <span class="red">FAIL</span></h1>
            <h2>Why Did I Fail?</h2>
            <p>
                By reviewing the answers to the HQ Test you just completed, the reason you failed is because you have
                violated one (or more) of God's laws. God <a href="#" ng-click="showPopup(1001)" class="blue">[Don't believe in God?]</a> calls this sin. You're not alone in this, however, because the Bible <a href="#" ng-click="showPopup(1002)" class="blue">[Don't believe the Bible?]</a> says that everyone has sinned. <a href="#" ng-click="showPopup(1003)" class="blue">[1]</a> By committing sin (even one), you have earned for yourself a sentence in Hell for eternity, as the Bible says that the payment, or consequence, for sin is death -spiritual death, which is eternal seperation from God in Hell. <a href="#" ng-click="showPopup(1004)" class="blue">[2]</a>
            </p>
            <p>
                Even if we assume for the sake of argument that you have never sinned, there is still absolutely no way to
                get into heaven if you are attempting to do so on your own merit. The Bible says that we are saved "by grace <a href="#" ng-click="showPopup(1005)" class="blue">[What is grace?]</a> through faith" and "not of works." <a href="#" ng-click="showPopup(1006)" class="blue">[3]</a> There is no way to get into Heaven by doing good things (or even by not doing bad things) - your good is not good enough. <a href="#" ng-click="showPopup(1007)" class="blue">[4]</a>
            </p>
            <p>
                So if being good doesn't get you into heaven, what does?
            </p>
            <div class="clear"></div>
            <div class="buttons">
                <button class="btn-gray" ng-click="btnNext()">READ MORE</button>
            </div>
        </div>
        <div class="result-content" ng-show="issecond">
            <p>
                The Bible says that while the punishment for sin is death - eternal separation from God in Hell - God has provided a way, and the only way <a href="#" ng-click="showPopup(1008)" class="blue">[5]</a>, to have eternal life in Heaven through his son, Jesus. <a href="#" ng-click="showPopup(1009)" class="blue">[Don't believe Jesus really exited?]</a> Specifically, it states that God displayed his love towards us by sending his son Jesus to die in our place (recall that the punishment for sin is eternal death in Hell). <a href="#" ng-click="showPopup(1010)" class="blue">[6]</a>
            </p>
            <h2>
                So let's sum up what we have just covered:
            </h2>
            <ul>
                <li>
                    <b>God Loves us.</b>
                    <p>
                        "For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life." John 3:16
                    </p>
                    <p>
                        God loves you and all of mankind. He wants to bless your life and make it full and complete. He offers you not only an abundant life here and now, but also a life, which is eternal - His very own life.
                    </p>
                </li>
                <li>
                    <b>
                        Everyone has sinned.
                    </b>
                    <p>
                        "For all have sinned and fall short of the glory of God" Romans 3:23
                    </p>
                    <p>
                        The saying, "Well, we are just human - nobody is perfect", is biblically sound. When we acknowledge this truth, we can see our separation from God, for He is holy.
                    </p>
                </li>
                <li>
                    <b>Sin Has a Penalty.</b>
                    <p>
                        "For the wages of sin is death, but the gift of God is eternal life in Christ Jesus our Lord. " Romans 6:23
                    </p>
                    <p>
                        To continue in sin will result in spiritual death, which is separation from God forever. The alternative is to personally receive God's free gift, which is pardon from sin and provision of life everlasting.
                    </p>
                </li>
                <li>
                    <b>Christ Paid the Penalty.</b>
                    <p>
                        "But God demonstrates his own love for us in this: While we were still sinners, Christ died for us." Romans 5:8
                    </p>
                    <p>
                        You may think you must lead a "good" life and do charitable acts before God will love you. This is not so. God loves you even in your sin. He doesn't like what you are doing. He sent Christ to die in your place and to pay the penalty for your sin so that you can be reconciled to Him.
                    </p>
                </li>
                <li>
                    <b>Salvation is a FREE Gift.</b>
                    <p>
                        "For it is by grace you have been saved, through faith - and this not from yourselves, it is the gift of God - not by works, so that no one can boast." Ephesians 2:8,9
                    </p>
                    <p>
                        Grace means undeserved favor. God graciously offers to you what you could never do for yourself. God's gift to you is FREE. You do not, and cannot, work for a gift. All you need to do is receive it. Believe with all your heart that Jesus Christ died for you to provide deliverance from your sins and to give you eternal life.
                    </p>
                </li>
                <li>
                    <b>
                        God's Promise from His Word.
                    </b>
                    <p>
                        "For whosoever shall call upon the name of the Lord shall be saved." Romans 10:13
                    </p>
                    <p>
                        God promises that we will be saved from the punishment of Hell by calling upon the name of the Lord in prayer.
                    </p>
                </li>
            </ul>
            <p>
                If you understand these things, then you know there is hope! We have hope in Christ Jesus, and God offers us eternal life through Him.
            </p>
            <p>
                If you feel the Spirit of God working on your heart, convicting you of your sin, you nay make the decision to trust Jesus as your savior today. To do this, you must pray to God, and:
            </p>
            <p>
                1. Acknowledge that you are a sinner<br/>
                2. Understand that you need forgiveness<br />
                3. Belive that Jesus is God's son, and that he died in your place, and confess him as Lord
            </p>
            <div class="clear"></div>
            <div class="buttons">
                <button class="btn-gray" ng-click="btnNext()">READ MORE</button>
            </div>
        </div>
        <div class="result-content" ng-show="isthird">
            <h2>If you have prayed and trusted Jesus, the following took place:</h2>
            <p>
                1. Your sins were forgiven (Colossians 1:14 "In whom we have redemption through his blood, even the
                forgiveness of sins.")
            </p>
            <p>
                2. You became a child of God (John 1:12 "But as many as received him, to them gave he power to become
                the sons of God, even to them that believe on his name.")
            </p>
            <p>
                3. You were made an heir to all of God's blessings (Romans 8:16,17 "The Spirit itself bears witness with
                our spirit, that we are the children of God: And if children, then heirs; heirs of God, and joint-heirs with
                Christ; if so be that we suffer with him, that we may be also glorified together.")
            </p>
            <p>
                4. You now possess everlasting life (1 John 5:12,13 "He who has the Son has life; he who does not have
                the Son of God does not have life. I write these things to you who believe in the name of the Son of God
                so that you may know that you have eternal life.")
            </p>
            <div class="clear"></div>
            <div class="buttons">
                <button class="btn-gray" ng-click="btnFinish()">SEND US A MESSAGE</button><br /><br />
                <button class="btn-gray" ng-click="btnDone()">DONE</button>
            </div>
        </div>
    </ion-content>
</ion-view>
